body {
  padding-top: 20px;
  padding-bottom: 40px;
}

pre {
  font-size: 11px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 740px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 64px;
  line-height: 1;
}

/* Share */
.share-links {
  margin-bottom: 40px;
  overflow: hidden;
}
.share-links div {
  float: left;
  width: 100px;
  height: 22px;
}